.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 43px;
    border: 1px solid #eceff5;
    border-radius: 7px;
    background-color: #f8f9fa;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 38px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 38px;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: 1px solid #eceff5;
}